@import "tailwindcss";


@keyframes toss {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  30% {
    transform: translateY(-18px) rotate(-4deg);
  }

  60% {
    transform: translateY(6px) rotate(4deg);
  }

  80% {
    transform: translateY(-3px) rotate(-2deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}
